body{
    
    margin: 0px;
    background-color: rgb(0, 0, 0);
   height: 100vh;
   width: 100vw;
    perspective: 500px;

  }

  .bigdiv {
    perspective: 800px;
    height: 100vh;
    top: 10px;
    width: 100vw;
    left: 50vw;
    transform: translate(-50%);
    position: relative;
    overflow: hidden;
    
  }

 
.water {
    position: absolute;
    animation: star 10s ease-out infinite;
    border-radius: 100%;
    border: none;
    box-shadow: inset 10px 10px 20px #a5a7a9, inset -10px -10px 20px #ffffff;
   pointer-events: none;
   background-color: rgba(255, 255, 255, 0.485);
    top: 50%;
    opacity: 60%;
    z-index: 9999;
    left: 50vw;
    transform: translateX(-50%) translateY(-50%);

}

.ww1 {animation-delay: 0.5s;}
.ww2 {animation-delay: 1s;}
.ww3 {animation-delay: 1.5s;}
.ww4 {animation-delay: 2s;}
.ww5 {animation-delay: 2.5s;}

@keyframes star {
    0% {
        width: 20px;
        height: 20px;
     }
     100% {
        width: 800px;
        height: 1000px;
        opacity: 0;
}
}


@keyframes opacity {
    from {opacity: 20%;}

    to {opacity: 9%;}
}

.mitski {width: 720px;
    height: 900px;
left: 50vw;
transform: translateX(-50%);
pointer-events: none;
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 70px;
animation: 2s alternate infinite linear opacity,
10s alternate infinite linear rotation;
z-index: 0;
background-image: url("Untitled-1.png");
box-shadow: 

 0px -10px 20px 80px rgb(0, 0, 0) inset;
transition: 0.2s;

 }

 .mitski2 {width: 720px;
    height: 900px;
left: 50vw;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 50px;
animation: 2s alternate infinite linear ripple;
z-index: 0;
transition: 0.2s;
pointer-events: none;
 }

 @keyframes ripple {
    from {box-shadow: -10px -20px 20px 100px rgb(0, 0, 0) inset;
    opacity: 100%;}
    to {box-shadow: -10px -40px 20px 130px rgb(0, 0, 0) inset;
    opacity: 60%;}

 }

 @keyframes opacity {
    0% {
    opacity: 100%;
    }
50% {
    opacity: 100%;
    }
    100% {
    opacity: 60%;
    }

 }

 @keyframes rotation {
    0% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(8deg);

}
50% {
    transform: translateX(-50%) rotateY(0deg) rotateX(0deg);

}
    100% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(-10deg);
}

 }

.bury {
width: 23px;
text-align: center;
color: white;
position: relative;
bottom: 950px;
transition: 1s;
pointer-events: none;
left: 0;
margin-bottom: 7px; 
border-left: solid transparent calc(50vw - 388px);
font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
font-size: 21px;
z-index: 999;
}



.buryh {
    width: 45px;
    height: 100px;
    float: left;
    transition: 1s;
    position: relative;
    bottom: 80px;
    /* background-color: #982a2a; */
    left: calc(50vw - 450px);
    /* left: 35px; */
    z-index: 98;
    }



.bh20 {border-right: solid transparent 30vw;}

.bh1:hover ~ .b1 { border-left: solid transparent calc(50vw + 355px);}
.bh2:hover ~ div.bury:nth-last-of-type(n+28) { border-left: solid transparent calc(50vw + 355px);}
.bh3:hover ~ div.bury:nth-last-of-type(n+27) { border-left: solid transparent calc(50vw + 355px);}
.bh4:hover ~ div.bury:nth-last-of-type(n+26) { border-left: solid transparent calc(50vw + 355px);}
.bh5:hover ~ div.bury:nth-last-of-type(n+25) { border-left: solid transparent calc(50vw + 355px);}
.bh6:hover ~ div.bury:nth-last-of-type(n+24) { border-left: solid transparent calc(50vw + 355px);}
.bh7:hover ~ div.bury:nth-last-of-type(n+23) { border-left: solid transparent calc(50vw + 355px);}
.bh8:hover ~ div.bury:nth-last-of-type(n+22) { border-left: solid transparent calc(50vw + 355px);}
.bh9:hover ~ div.bury:nth-last-of-type(n+21) { border-left: solid transparent calc(50vw + 355px);}
.bh10:hover ~ div.bury:nth-last-of-type(n+20) { border-left: solid transparent calc(50vw + 355px);}
.bh11:hover ~ div.bury:nth-last-of-type(n+19) { border-left: solid transparent calc(50vw + 355px);}
.bh12:hover ~ div.bury:nth-last-of-type(n+18) { border-left: solid transparent calc(50vw + 355px);}
.bh13:hover ~ div.bury:nth-last-of-type(n+17) { border-left: solid transparent calc(50vw + 355px);}
.bh14:hover ~ div.bury:nth-last-of-type(n+16) { border-left: solid transparent calc(50vw + 355px);}
.bh15:hover ~ div.bury:nth-last-of-type(n+15) { border-left: solid transparent calc(50vw + 355px);}
.bh16:hover ~ div.bury:nth-last-of-type(n+14) { border-left: solid transparent calc(50vw + 355px);}
.bh17:hover ~ div.bury:nth-last-of-type(n+13) { border-left: solid transparent calc(50vw + 355px);}
.bh18:hover ~ div.bury:nth-last-of-type(n+12) { border-left: solid transparent calc(50vw + 355px);}
.bh19:hover ~ div.bury:nth-last-of-type(n+11) { border-left: solid transparent calc(50vw + 355px);}
.bh20:hover ~ div.bury:nth-last-of-type(n+10) {border-left: solid transparent calc(50vw + 355px);
}


.buryh:hover ~ .mitski {
    box-shadow: 0px -10px 40px 400px rgb(0, 0, 0) inset;
}

.buryh:hover ~ .water {opacity: 1;
        background-color: #762525;}




.space {margin-bottom: 40px;}

.spaceh {border-bottom: solid #000000 20px; 
}



.scrollies {
    
    top: 0px;
    width: 100vw;
    left: 0;
    height: 5vh;
    position: relative;
}




/* .odd {background-color:#a5a7a9;} */





.s20:hover ~ .water {opacity: 1;
    background-color: #762525;

}

.s19:hover ~ .water {opacity: 1;
    background-color: #762525;

}

.s19:hover ~ .location {
    font-variation-settings: "ital" 100, "wdth" 100, "wght" 100;
}

.s20:hover ~ .location {
    font-variation-settings: "ital" 100, "wdth" 100, "wght" 100;

}

.buryh:hover ~ .location {
    font-variation-settings: "ital" 100, "wdth" 100, "wght" 100;

}

.s20:hover ~ .mitski {
    box-shadow: 
0px -10px 40px 400px rgb(0, 0, 0) inset;
     }

.s19:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 270px rgb(0, 0, 0) inset;
    }

.s18:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 260px rgb(0, 0, 0) inset;
    }

.s17:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 250px rgb(0, 0, 0) inset;
    }

.s16:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 240px rgb(0, 0, 0) inset;
    }

.s15:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 230px rgb(0, 0, 0) inset;
    }

.s14:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 220px rgb(0, 0, 0) inset;
    }

.s13:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 210px rgb(0, 0, 0) inset;
     }

.s12:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 200px rgb(0, 0, 0) inset;
     }

.s11:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 190px rgb(0, 0, 0) inset;
     }

.s10:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 180px rgb(0, 0, 0) inset;
     }

.s9:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 170px rgb(0, 0, 0) inset;
     }

.s8:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 160px rgb(0, 0, 0) inset;
     }

.s7:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 150px rgb(0, 0, 0) inset;
     }

.s6:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 140px rgb(0, 0, 0) inset;
     }

.s5:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 130px rgb(0, 0, 0) inset;
    }

.s4:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 120px rgb(0, 0, 0) inset;
    }

.s3:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 110px rgb(0, 0, 0) inset;
     }


.s2:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 100px rgb(0, 0, 0) inset;
     }


.s1:hover ~ .mitski {
    box-shadow: 
    0px -10px 20px 90px rgb(0, 0, 0) inset;
    }




.tour {
top: 40px;
font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
font-size: 22px;
letter-spacing: 10px;
color: rgb(255, 255, 255);
position: absolute;
left: 50vw;
transform: translateX(-50%);
z-index: 99;
pointer-events: none;
transition: 2s;

}



/* .tour:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 110px rgb(0, 0, 0) inset;
     } */



.location {
    font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
    font-size: 20px;
    color: white;
    transition: 0.1s;
    position: fixed;
    pointer-events: none;
    width: 900px;
    text-align: center;
    z-index: 9999;
    bottom: 40px;
    letter-spacing: 8px;
    left: 50vw;
    transform: translateX(-50%);
    line-height: 40px;
}

.location span {
    margin-left: 40px;
    margin-right: 40px;
}

.s1:hover ~ .tour {
letter-spacing: 135px;
transform: translateX(calc(-50% + 4vw));
font-variation-settings: "ital" 0, "wdth" 150, "wght" 100;

}

.s2:hover ~ .tour {
    letter-spacing: 135px;
transform: translateX(calc(-50% + 4vw));

    font-variation-settings: "ital" 0, "wdth" 150, "wght" 100;
    
    }

.s19:hover ~ .tour {
        letter-spacing: 135px;
transform: translateX(calc(-50% + 4vw));

        font-variation-settings: "ital" 0, "wdth" 150, "wght" 100;
        
        }

.s20:hover ~ .tour {
    letter-spacing: 135px;
transform: translateX(calc(-50% + 4vw));

    font-variation-settings: "ital" 0, "wdth" 150, "wght" 100;
    
    }

    .buryh:hover ~ .tour {
        letter-spacing: 135px;
transform: translateX(calc(-50% + 4vw));

        font-variation-settings: "ital" 0, "wdth" 150, "wght" 100;
        
        }



/* .location:hover ~ .mitski {
    box-shadow: 
    0px -10px 40px 330px rgb(0, 0, 0) inset;
     }
.location:hover ~ .water {
    opacity: 1;
    background-color: #762525;
} */





