body {
    background-color: rgba(250,200,200,255);
margin: 0;
}

.thingies {
    
    width: 50%;
    position: absolute;
    left: 500px;
    top: 80px;
   }


   .row::after {
    content: "";
    display: table;
    clear: both;
  }


.mainimg {
    position: fixed;
    top: 100px;
    width: 500px;
    z-index: -1;
    }

    ul {
        list-style-type: none;
      }

h2 {
    color: rgb(51, 51, 51);
    font-family: itc-avant-garde-gothic-pro, sans-serif;
font-weight: 300;
font-style: normal;
    background-color: rgba(255, 255, 255, 0.5);
    width: 120px;
    padding: 5px;
    transition: 1s;
    position: relative;
}

.big h2:hover {width: 150px;
    color: white;
    background-color: rgb(51, 51, 51);}

a {
    color: rgb(51, 51, 51);
    font-weight: bold;
    font-size: 14px;
    font-family: sans-serif;
    position: relative;
    transition: color 0.5s;
}

.big a:hover {color: white;}


#main-header{
    font-family: "tt-nooks-script", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size:60px;
    position: fixed;
    text-align: center;
    width: 500px;
    height: 60px;
    
    
}






.small {display: none;}

@media screen and (max-width: 600px) {


    .big {display: none;}
    .small {display: block;}

    .thingies {
    
        width: 50%;
        position: fixed;
        left: 50vw;
        transform: translateX(-50%);
        top: 350px;
       }
       #main-header { color: rgb(51, 51, 51);
        font-size:50px;
        left: 50vw;
        transform: translateX(-50%);
    }

       .mainimg {
        width: 400px;
        top: 80px;
        left: 50vw;
        transform: translateX(-50%);
       }

       h2 {
        color: rgb(51, 51, 51);
        font-family: sans-serif;
        background-color: transparent;
        
        position: relative;
    }

    ul {margin: 0;
    padding: 10px;
position: relative;
top: -20px;}


}

