:root {
    
    --gridw: calc(10* 7vh);
    --gridh: calc(10* 7vh);
    /* --color: #AF3034; */
    --color: black;
    --text-color: white;
    --lineWeight: 80px;
    --lineWeightHalf: calc(var(--lineWeight)/2);
    --angle: 30deg

}

/* .art {transition: all 2s;} */

#pathM {
   
/* width: 100px; */
fill: blue;
    
    /* transition-delay: 0s, 0s, 0s, 0s, 0s; */
    /* transition-property: x, y, transform, width, transform-origin; */
    position: absolute;
  
    /* transform: rotate(30deg); */
}

#mySVG rect {
    /* transition: all 2s; */
    height: var(--lineWeight);
    rx: var(--lineWeightHalf);
    

}
#test {
    width: inherit;
    height: inherit;

    border-radius: inherit;}

#pathA {
    fill: green;
  


    /* animation-timing-function: linear; */

    /* transition-delay: 0s, 0s, 0s, 0s, 0s; */

    /* transition-property: x, y, transform, width, transform-origin; */


}

#bberni {
    background-image: url(berni.jpeg);
    background-size: cover;
    overflow: hidden;
}

#btarsila {
    background-image: url(tarsila.jpg);
    background-size: cover;
    overflow: hidden;
}

#blam {
    background-image: url(lam.jpeg);
    background-size: cover;
    overflow: hidden;
}

#pathL {
    fill: blue;
}

#pathB {
    fill: green;
}

#pathA2 {
    fill: blue;
}

#mySVG {
    /* background-color: yellow; */
    top: 0px;
    position: absolute;
    /* transition: 2s; */
    
}

#menu {
    width: 450px;
    height: 500px;
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    flex-flow: column;
    font-family: "latino-gothic-variable", sans-serif;
    font-variation-settings: "slnt" 1, "wdth" 70, "wght" 30;
    font-size: 15px;

}

.row {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;

    width: 100%;
    justify-content: space-between;

}

.color .row {padding: 60px 10px 30px 10px;}





#menu span {
    height: 30px;
    width: 100%;
}

.column {
    display: flex;
    width: 200px;
    height: 100%;
 

    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;

}


/* .color {
    justify-content: space-between;

} */
.shape {   
    align-content: center;
    justify-content: center;
}



#menu button {
    /* background-color: white; */
    height: 50px;
    /* margin: 20px; */

}

.color button {
    border-radius: 50%;
    width: 50px;
    margin-left: 10px;
    margin-bottom: 10px;

    border: 1px solid grey;


}

#bblack {background-color: black;}

#lwhite {background-color: white;}

.shape button {
    width: 200px;
    margin-bottom: 20px;
    background: white;
    border: none;

    font-family: "latino-gothic-variable", sans-serif;
    font-variation-settings: "slnt" 1, "wdth" 70, "wght" 30;
}




#lred {
    background-color: #AF3034;
}

#brazil {
    background-color: #036848;
}

#arg {
    background-color: #2B3C7E;
}

#llightblue {
    background-color: #6CA8D9;
}

#boli {
   background-color: #EEBE46;
}

#black {
    background-color: black;
}

#multi {
    background: linear-gradient(
        to right,
        #AF3034 20%,
        #EEBE46 20% 40%,
        #036848 40% 60%,
        #2B3C7E 60% 80%,
        #6CA8D9 80%
      );
}

#bred {
    background-color: #AF3034;
}

#bgreen {
    background-color: #036848;
}

#bblue {
    background-color: #2B3C7E;
}

#blightblue {
    background-color: #6CA8D9;
}

#byellow {
   background-color: #EEBE46;
}

#bwhite {
    background-color: white;
}

#tarsila {
    clip-path: url(#mask);
    top: 0px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 750px;
}

#berni {
    clip-path: url(#mask);
    top: 0px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    height: 600px;
}

#lam {
    clip-path: url(#mask);
    top: 0px;
    z-index: -1;
    opacity: 0;
    position: absolute;
    width: 750px;
}

#container {
    /* background-color: red; */
    height: var(--gridh);
    width: var(--gridw);
    left: 50vw;
    top: 100px;
    display: flex;
    position: fixed;
  
    transform: translateX(-50%);
    flex-wrap: wrap;
}

#grid {
    /* background-color: #EFDEC6; */
    height: 600px;
    width: 600px;
    left: 50vw;
    top: 50px;
    position: fixed;
    transform: translateX(-50%);
    /* border: solid 5px #AF3034; */
 /* transition: 2s; */
    overflow: visible;
    pointer-events: none;


}




.square {
    height: var(--lineWeight);
    /* background-color: #d79c49; */
    /* background-color: #a5763300; */
    width:  var(--lineWeight);
    /* border: black solid 1px; */
    /* background-color: aliceblue; */
    box-sizing: border-box;
    color: var(--text-color);
    /* transition: all 2s; */
  
    /* transition: width 0s, transform 0s, left 0s, top 0s, color 0s; */
    /* transition-delay: 0s; */

    font-size: 70px;
    text-align: center;
    overflow: visible;
    -webkit-user-select: none;
    user-select: none;
    /* display: flex;
justify-content: center;
align-content: center;
justify-content: center;
justify-items: center; */
/* 
font-family: brandon-grotesque, sans-serif;
font-weight: 900; */


 /* font-family: soleil, sans-serif;
font-weight: 800;
font-style: normal;  */
/* text-transform: uppercase; */

position: absolute; 
font-family: "latino-gothic-variable", sans-serif;
    font-variation-settings: "slnt" 1, "wdth" 70, "wght" 70; 
}



.line {
    width: 100px;
    height: var(--lineWeight);
    background-color: var(--color);
    position: absolute;
    top: 0px;

    /* transition-delay: 2s; */

    /* z-index: -2; */
    /* transition: width 2s, height 2s, transform 2s, left 2s, top 2s, background-color 0.5s; */
    box-sizing: border-box;
/* transition: all 0s linear; */
    left: 0px;
    border-radius: var(--lineWeightHalf);
    transform-origin: var(--lineWeightHalf) var(--lineWeightHalf);
}

.background {
    /* background-color: black; */
    width: inherit;
    height: inherit;
    border-radius: inherit;
    position: relative;
    /* transition: 2s; */


    overflow: hidden;
    /* transition-delay: -0s; */

}

.image {
 
position: fixed;
top: 0px;
mask-image: url(http://www.w3.org/2000/svg);




}

.border {
    background-color: transparent;
    border: solid 3px;
border-color: #AF3034 transparent #AF3034 transparent;

}

.arch {
    width: 100px;
    height: 85px;
    background-color: transparent;
    position: absolute;
    top: -12.5px;
z-index: -2;
box-sizing: border-box;
left: -12.5px;
border: solid 5px;
/* border-color: var(--color) var(--color) transparent  var(--color); */
border-color: var(--color);
   
transform-origin: 42.5px 42.5px;
border-radius: 50% 50% 0% 0% / 100% 100% 0% 0%
;
}

.letter {position: absolute;
width: var(--lineWeight);
height: var(--lineWeight);
border-radius: 50%;
z-index: 2;
text-align: center;

display: flex;
align-items: center;
justify-items: center;
justify-content: center;
align-content: center;
/* left: -5px; */

/* transition: all 2s; */


/* background-color: #6CA8D9; */

}



.no {
    display: none;
}

.myLogo text {
    font-size: 70px;
font-family: "latino-gothic-variable", sans-serif;
    font-variation-settings: "slnt" 1, "wdth" 70, "wght" 70; 
    
    
}

.myLogo rect {
    height: 90px;
    rx: 45px;
    fill: black;
}

.myLogo.one rect:nth-of-type(n + 2) {
    width: 180px;
}

.myLogo.one rect:nth-of-type(1) {
    width: 280px;
    
}



.myLogo.two rect:nth-of-type(odd) {
    width: 220px;
    height: 90px;
}

.myLogo.two rect:nth-of-type(1) {
    width: 235px;
    height: 90px;
}

.myLogo.two rect:nth-of-type(even) {
    width: 90px;
    height: 220px;

    
}




.myLogo {
    position: fixed;
    transform: scale(0.5);

}

.myLogo.one {
    top: 300px;
    left: 50vw;
    /* background-color: #036848; */
}

.myLogo.two {
    top: 200px;
    left: 40vw;
    /* background-color: #036848; */


}


.one {
    /* display: none; */
    display: block;

}

.two {
    /* display: none; */
    display: block;
    
}