body{
    
    margin: 0px;
    background-color: rgb(0, 0, 0);
   
    perspective: 500px;

  }

  .bigdiv {
    perspective: 500px;
    height: 100vh;
    top: 30px;
    background-color: rgb(0, 0, 0);
    width: 900px;
    left: 50vw;
    transform: translate(-50%);
    position: relative;
    
  }

 
.water {
    position: absolute;
    animation: star 10s ease-out infinite;
    border-radius: 100%;
    border: none;
    box-shadow: inset 10px 10px 20px #a5a7a9, inset -10px -10px 20px #ffffff;
   pointer-events: none;
   background-color: rgba(255, 255, 255, 0.485);
    top: 450px;
    opacity: 60%;
    z-index: 999;
    left: 48%;
    transform: translateX(-50%) translateY(-50%);

}

.ww1 {animation-delay: 0.5s;}
.ww2 {animation-delay: 1s;}
.ww3 {animation-delay: 1.5s;}
.ww4 {animation-delay: 2s;}
.ww5 {animation-delay: 2.5s;}

@keyframes star {
    0% {
        width: 20px;
        height: 20px;
     }
     100% {
        width: 650px;
        height: 850px;
        opacity: 0;
}
}


@keyframes opacity {
    from {opacity: 20%;}

    to {opacity: 9%;}
}

.mitski {width: 650px;
    height: 800px;
left: 50%;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 70px;
animation: 2s alternate infinite linear opacity,
10s alternate infinite linear rotation;
z-index: 0;
background-image: url("Untitled-1.png");
box-shadow: 

 -25px -10px 20px 80px rgb(0, 0, 0) inset;
transition: 0.2s;

 }

 .mitski2 {width: 650px;
    height: 800px;
left: 50%;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 70px;
animation: 2s alternate infinite linear ripple;
z-index: 0;
transition: 0.2s;

 }

 @keyframes ripple {
    from {box-shadow: -25px -10px 20px 100px rgb(0, 0, 0) inset;
    opacity: 100%;}
    to {box-shadow: -15px -30px 20px 130px rgb(0, 0, 0) inset;
    opacity: 60%;}

 }

 @keyframes opacity {
    0% {
    opacity: 100%;
    }
50% {
    opacity: 100%;
    }
    100% {
    opacity: 60%;
    }

 }

 @keyframes rotation {
    0% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(8deg);

}
50% {
    transform: translateX(-50%) rotateY(0deg) rotateX(0deg);

}
    100% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(-10deg);
}

 }

.scrollies {
height: 25px;
width: 25px;
border-width: 3px 50px 3px 50px; 
border-style: solid;
text-align: center;
border-color: rgb(0, 0, 0);
color: white;
position: relative;
top: 90px;
left: 70px;
font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
font-size: 20px;
opacity: 100%;
z-index: 99;
}

.s1 {border-width: 50px 50px 3px 50px;
}
.s20 {border-width: 3px 50px 50px 50px;}

.s4 {border-width: 3px 50px 15px 50px; }

.s6 {border-width: 3px 50px 15px 50px; }

.s8 {border-width: 3px 50px 15px 50px; }

.s12 {border-width: 3px 50px 15px 50px; }

.s15 {border-width: 3px 50px 15px 50px; }





.scrollies:hover {
    color: #9a3131;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;

}


.s20:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 330px rgb(0, 0, 0) inset;
     }
.s20:hover ~ .water {opacity: 1;
    background-color: #762525;

}


.s19:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 270px rgb(0, 0, 0) inset;
    }

.s18:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 260px rgb(0, 0, 0) inset;
    }

.s17:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 250px rgb(0, 0, 0) inset;
    }

.s16:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 240px rgb(0, 0, 0) inset;
    }

.s15:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 230px rgb(0, 0, 0) inset;
    }

.s14:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 220px rgb(0, 0, 0) inset;
    }

.s13:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 210px rgb(0, 0, 0) inset;
     }

.s12:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 200px rgb(0, 0, 0) inset;
     }

.s11:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 190px rgb(0, 0, 0) inset;
     }

.s10:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 180px rgb(0, 0, 0) inset;
     }

.s9:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 170px rgb(0, 0, 0) inset;
     }

.s8:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 160px rgb(0, 0, 0) inset;
     }

.s7:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 150px rgb(0, 0, 0) inset;
     }

.s6:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 140px rgb(0, 0, 0) inset;
     }

.s5:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 130px rgb(0, 0, 0) inset;
    }

.s4:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 120px rgb(0, 0, 0) inset;
    }

.s3:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 110px rgb(0, 0, 0) inset;
     }


.s2:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 100px rgb(0, 0, 0) inset;
     }


.s1:hover ~ .mitski {
    box-shadow: 
    -25px -10px 20px 90px rgb(0, 0, 0) inset;
    }


 .mitski:hover {
box-shadow: 
0px -10px 40px 100px rgb(0, 0, 0) inset;

 }

 .mitski:hover ~ .scribble {height: 900px; top:-25px; width: 550px;}





.tour {
top: 80px;
font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
font-size: 23px;
letter-spacing: 10px;
color: rgb(255, 255, 255);
position: absolute;
left: 127px;
z-index: 99;
transition: 2s;

}







.location {
    font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
    font-size: 20px;
    color: white;
    transition: 2s;
    height: 80px;
    width: 200%;
    position: absolute;
    z-index: 1;
    top: 800px;
    padding-top: 50px;
    letter-spacing: 5px;
    left: 87px;
    line-height: 40px;
}

.tour:hover {
letter-spacing: 130px;
font-variation-settings: "ital" 0, "wdth" 400, "wght" 100;

}


.location span {
    margin-left: 40px;
}

.location:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 330px rgb(0, 0, 0) inset;
     }
.location:hover ~ .water {
    opacity: 1;
    background-color: #762525;
}

span:hover {
    color: #9a3131;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
}