body{
    
    /* background-image: linear-gradient(#a4acb4c3 0%, #171d24d6 20%, #171d24eb 70%); */
    margin: 0px;
    background-color: #762525;
   
    perspective: 500px;

  }


  .bigdiv {
    perspective: 500px;
    height: 100vh;
    top: 30px;
    width: 900px;
    left: 50vw;
    transform: translate(-50%);
    position: relative;
  }

  .scribble {z-index: 9;
display: block;
position: absolute;
top: 0px;
height: 700px;
left: 50vw;
transform: translateX(-50%) rotate(30deg);
opacity: 50%;
/* animation: 0.5s infinite linear opacity; */
 pointer-events: none; 
 transition: 1s;

}

.sc1 {
    transform: translateX(-50%) rotate(0deg); 
    /* animation: 0.5s infinite linear reverse opacity; */
}

.sc2 {
    transform: translateX(-50%) rotate(-15deg); 
    /* animation: 0.3s infinite linear reverse opacity; */
}

.water {
    width: 500px;
	height: 700px;
    opacity: 20%;
    border: 2px white solid;
    /* border-radius: 50%; */
    border-radius: 71% 25% 76% 48% / 58% 76% 40% 64% ;
    box-shadow: 
    inset 0px 0px 10px 2px rgb(253, 226, 226),
    /* inset 0px 10px 30px 20px rgba(255, 255, 255, 0.787), */
     inset 10px 30px 40px 20px rgba(255, 181, 181, 0.279);
    /* background-image: radial-gradient(
        ellipse 50% 75% at 25% 20%,
        rgb(255, 255, 255) 0%,
         rgba(255, 255, 255, 0.688) 5%, 
        rgba(255, 255, 255, 0.495) 10%,
        rgba(255, 255, 255, 0.298) 20%,
        rgba(255, 255, 255, 0.179) 40%,
        rgba(45, 45, 45, 0.164) 100%); */
    position: absolute;
    top: 460px;
    z-index: 999;
    left: 48%;
    pointer-events: none;
    /* background: radial-gradient(ellipse at 30% 30%,  rgba(255, 255, 255, 0.836) 0%,rgba(255,255,255,0) 20%); */
    background: radial-gradient(ellipse at 30% 20%,  rgb(255, 255, 255) 0%,#762525 90%);
    transform: rotate(10deg) translateX(-50%) translateY(-50%) scale(0.9);
    animation:  4s ease-in-out infinite alternate water,
    4s ease-in-out infinite alternate borderr;
}

.water2 {
    width: 1.5px;
	height: 2px;
    border: 3px rgb(255, 255, 255) solid;
    border-radius: 61% 78% 68% 74% / 85% 63% 75% 61%;
    position: fixed;
    top: 50%;
    opacity: 0;
    z-index: 999;
    left: 50%;
    pointer-events: none;
    transform: translateX(-50%) translateY(-50%) scale(1);
    animation: 2s linear infinite water2;
}


.waterh {
    height: 560px;
	left: 150px;
    top: 100px;
	position: absolute;
    z-index: 9999;
	width: 400px;
    pointer-events: none;
    }

.high { 
    border-radius: 42% 52% 76% 48% / 58% 76% 50% 64% ;
    background: radial-gradient(ellipse 400% 400% at 90px 30px, rgb(255, 255, 255) 0%, rgb(255, 255, 255) 0%, #76252500 8%);
    height: 100%;
    width:100%;
    position: absolute;
    opacity: 50%;
    top: 0px;
    left: 10px;
    animation: 
    4s ease-in-out infinite alternate high;

}

.light {
position: absolute;
top: 0px;
left: 100px;
opacity: 50%;
height: 16px;
width: 8px;
border-radius: 50%;
animation:  4s ease-in-out infinite alternate lightt;
box-shadow: 
0px 0px 3px 3px rgba(255, 255, 255, 0.658),
0px 0px 9px 8px rgba(255, 255, 255, 0.659),
5px 0px 20px 20px rgba(125, 50, 50, 0.304);
background-color: rgba(255, 255, 255, 0.924);

}

@keyframes lightt {
    0% {
        transform: rotate(50deg);
        left: 180px;
        top: 50px;
    }

        100% {
            transform: rotate(60deg);
            left: 145px;
            top: -25px;
}
}



@keyframes high {  

    0% {
        transform:  rotate(10deg);
        left: 40px;
        top: 25px;
        width: 600px;
            height: 660px;
    }

    /* 50% {
        transform:  rotate(20deg) rotateY(0deg) rotateX(0deg) translateY(-50%);
        left: 21%;
        top: 30%;
    } */

        100% {
            transform:  rotate(10deg);
            left: 5px;
            width: 500px;
            height: 700px;
            top: -15px;
        border-radius: 20% 82% 37% 50% / 31% 90% 15% 67% ;
    }
       
}


@keyframes water 
{
    0% {
        transform: translateX(-50%) rotateY(-1deg) rotateX(1deg) translateY(-50%);
    }

    50% {
        transform: translateX(-50%) rotateY(0deg) rotateX(0deg) translateY(-50%);

    }

        100% {
            transform: translateX(-50%) rotateY(-1deg) rotateX(-1deg) translateY(-50%);

    }

}

@keyframes borderr {
    to {
        border-width: 1px;
border-radius: 26% 81% 17% 95% / 61% 93% 49% 63% ;
}
}



@keyframes water2 
{
    0% {opacity: 80%;}

        50% {opacity: 0%}

        100% {
            border-width: 1px;
            width: 150px;
      height: 200px;
    }}



@keyframes opacity {
    from {opacity: 20%;}

    to {opacity: 9%;}
}

.mitski {width: 650px;
    height: 800px;
left: 50%;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 70px;
animation: 2s alternate infinite linear opacity,
10s alternate infinite linear rotation;
z-index: 0;
background-image: url("Untitled-3.png");
box-shadow: 
 -30px -30px 20px 100px #762525 inset;
transition: 0.2s;

 }

 .mitski2 {width: 550px;
    height: 700px;
left: 50%;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 100px;
animation: 2s alternate infinite linear ripple;
z-index: 1;
transition: 0.2s;

 }

 @keyframes ripple {
    from {box-shadow: 10px -30px 20px 70px #762525 inset;
    }
    to {box-shadow: 10px -30px 20px 100px #762525 inset;
    opacity: 70%;}

 }

 @keyframes opacity {
    0% {
    opacity: 100%;
    }
50% {
    opacity: 100%;
    }
    100% {
    opacity: 60%;
    }

 }

 @keyframes rotation {
    0% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(8deg);

}
50% {
    transform: translateX(-50%) rotateY(0deg) rotateX(0deg);

}
    100% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(-10deg);
}

 }

        
 .scrollies {
    height: 25px;
    width: 25px;
    border-width: 3px 50px 3px 50px; 
    border-style: solid;
    text-align: center;
    border-color: #762525;
    color: white;
    position: relative;
    top: 90px;
    left: 70px;
    font-family: pf-grand-gothik-variable, sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
    font-size: 20px;
    opacity: 100%;
    z-index: 99;
    }       




.s1 {border-width: 50px 50px 3px 50px;
}
.s21 {border-width: 3px 50px 50px 50px;}

.s4 {border-width: 3px 50px 15px 50px; }

.s6 {border-width: 3px 50px 15px 50px; }

.s8 {border-width: 3px 50px 15px 50px; }

.s12 {border-width: 3px 50px 15px 50px; }

.s15 {border-width: 3px 50px 15px 50px; }





.scrollies:hover {
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;

}


.s20:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 330px #762525 inset;
     }


.s19:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 270px #762525 inset;
    }

.s18:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 260px #762525 inset;
    }

.s17:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 250px #762525 inset;
    }

.s16:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 240px #762525 inset;
    }

.s15:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 230px #762525 inset;
    }

.s14:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 220px #762525 inset;
    }

.s13:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 210px #762525 inset;
     }

.s12:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 200px #762525 inset;
     }

.s11:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 190px #762525 inset;
     }

.s10:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 180px #762525 inset;
     }

.s9:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 170px #762525 inset;
     }

.s8:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 160px #762525 inset;
     }

.s7:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 150px #762525 inset;
     }

.s6:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 140px #762525 inset;
     }

.s5:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 130px #762525 inset;
    }

.s4:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 120px #762525 inset;
    }

.s3:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 110px #762525 inset;
     }


.s2:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 100px #762525 inset;
     }


.s1:hover ~ .mitski {
    box-shadow: 
    -25px -10px 20px 90px #762525 inset;
    }


 .mitski:hover {
box-shadow: 
0px -10px 40px 100px #762525 inset;

 }

 .mitski:hover ~ .scribble {height: 900px; top:-25px; width: 550px;}


 
 .tour {
    top: 80px;
    font-family: pf-grand-gothik-variable, sans-serif;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
    font-size: 22px;
    letter-spacing: 10px;
    color: rgb(255, 255, 255);
    position: absolute;
    left: 127px;
    z-index: 99;
    transition: 2s;
    }


.location {
    font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
    font-size: 20px;
    color: white;
    transition: 2s;
    height: 50px;
    width: 200%;
    position: absolute;
    z-index: 1;
    top: 850px;
    letter-spacing: 5px;
    left: 87px;
    line-height: 40px;
}

.tour:hover {
letter-spacing: 130px;
font-variation-settings: "ital" 0, "wdth" 400, "wght" 100;

}


.location span {
    margin-left: 40px;
}

span:hover {
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
}




