body{
    
    /* background-image: linear-gradient(#a4acb4c3 0%, #171d24d6 20%, #171d24eb 70%); */
    margin: 0px;
    background-color: #7a7572;
   
    perspective: 500px;

  }

  .bigdiv {
    perspective: 500px;
    height: 100vh;
    width: 900px;
    left: 50vw;
    transform: translate(-50%);
    position: relative;
    top: 30px;
  }


  .scribble {
display: block;
position: fixed;
top: 70px;
height: 750px;
left: 50%;
z-index: 9999;
transform: translateX(-50%) rotate(30deg);
opacity: 50%;
animation: 2s infinite linear opacitys;
 pointer-events: none; 
 transition: 1s;

}

.sc1 {
    transform: translateX(-50%) rotate(180deg) rotateY(30deg); 
    animation-delay: 0.5s;
}

.sc2 {
    transform: translateX(-50%) rotate(250deg) scale(0.9); 
    animation-delay: 1s;
}

.sc3 {
    transform: translateX(-50%) rotate(-220deg) scale(0.9); 
    animation-delay: 1.5s;
}


@keyframes opacitys {
    from {opacity: 80%;}

    to {opacity: 0%;}
}

.mitski {width: 650px;
    height: 800px;
left: 50%;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 70px;
z-index: 0;
background-image: url("Untitled-2.png");
box-shadow: 
 -30px -30px 20px 100px #7a7572 inset;
transition: 0.2s;

 }

 .mitski2 {width: 550px;
    height: 700px;
left: 50%;
transform: translateX(-50%);
position: absolute;
background-size: 80%;
pointer-events: none;
background-repeat: no-repeat;
background-position: center;
border-radius: 50%;
top: 100px;
z-index: 1;
transition: 0.2s;

 }



 @keyframes opacity {
    0% {
    opacity: 100%;
    }
50% {
    opacity: 100%;
    }
    100% {
    opacity: 60%;
    }

 }

 @keyframes rotation {
    0% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(8deg);

}
50% {
    transform: translateX(-50%) rotateY(0deg) rotateX(0deg);

}
    100% {
    transform: translateX(-50%) rotateY(-10deg) rotateX(-10deg);
}

 }

.scrollies {
height: 25px;
width: 25px;
border-width: 3px 50px 3px 50px; 
border-style: solid;
text-align: center;
border-color: #7a7572;
color: white;
position: relative;
top: 90px;
left: 70px;
font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
font-size: 20px;
opacity: 100%;
z-index: 99;
}

.s1 {border-width: 50px 50px 3px 50px;
}
.s21 {border-width: 3px 50px 50px 50px;}

.s4 {border-width: 3px 50px 15px 50px; }

.s6 {border-width: 3px 50px 15px 50px; }

.s8 {border-width: 3px 50px 15px 50px; }

.s12 {border-width: 3px 50px 15px 50px; }

.s15 {border-width: 3px 50px 15px 50px; }





.scrollies:hover {
    color: #9a3131;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;

}

.s20:hover ~ .scribble {height: 900px; top:-25px; width: 550px;}

.s20:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 330px #7a7572 inset;
     }


.s19:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 270px #7a7572 inset;
    }

.s18:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 260px #7a7572 inset;
    }

.s17:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 250px #7a7572 inset;
    }

.s16:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 240px #7a7572 inset;
    }

.s15:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 230px #7a7572 inset;
    }

.s14:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 220px #7a7572 inset;
    }

.s13:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 210px #7a7572 inset;
     }

.s12:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 200px #7a7572 inset;
     }

.s11:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 190px #7a7572 inset;
     }

.s10:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 180px #7a7572 inset;
     }

.s9:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 170px #7a7572 inset;
     }

.s8:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 160px #7a7572 inset;
     }

.s7:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 150px #7a7572 inset;
     }

.s6:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 140px #7a7572 inset;
     }

.s5:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 130px #7a7572 inset;
    }

.s4:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 120px #7a7572 inset;
    }

.s3:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 110px #7a7572 inset;
     }


.s2:hover ~ .mitski {
    box-shadow: 
    -25px -10px 40px 100px #7a7572 inset;
     }


.s1:hover ~ .mitski {
    box-shadow: 
    -25px -10px 20px 90px #7a7572 inset;
    }


 .mitski:hover {
box-shadow: 
0px -10px 40px 100px #7a7572 inset;

 }

 .mitski:hover ~ .scribble {height: 900px; top:-25px; width: 550px;}



.tour {
top: 80px;
font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
font-size: 22px;
letter-spacing: 10px;
color: rgb(255, 255, 255);
position: absolute;
left: 127px;
z-index: 99;
transition: 2s;
}




.location {
    font-family: pf-grand-gothik-variable, sans-serif;
font-variation-settings: "ital" 0, "wdth" 100, "wght" 100;
    font-size: 20px;
    color: white;
    transition: 2s;
    height: 50px;
    width: 200%;
    position: absolute;
    z-index: 1;
    top: 850px;
    letter-spacing: 5px;
    left: 87px;
    line-height: 40px;
}

.tour:hover {
letter-spacing: 130px;
font-variation-settings: "ital" 0, "wdth" 400, "wght" 100;

}


.location span {
    margin-left: 40px;
}

span:hover {
    color: #9a3131;
    font-variation-settings: "ital" 0, "wdth" 100, "wght" 300;
}